---
layout: default
title: Victory's Blog
---
<h1>{{ page.title }}</h1>
<p>My name is Victory Omole. I have a Bachelor of Science in Computer Engineering from Iowa State University.
My mission is to contribute to the world-wide effort of building a large-scale quantum computer. The best way to reach me is via email: vtomole2@gmail.com.

<h2>2021</h2>
<ul class="posts">

	{% for humanity in site.categories.twentytwentyone %}
	  <li><span>{{ humanity.date | date_to_string }}</span> &raquo; <a href="{{ humanity.url }}" title="{{ humanity.title }}">{{ humanity.title }}</a></li>
	{% endfor %}

</ul>

<h2>2020</h2>
<ul class="posts">

	{% for humanity in site.categories.twentytwenty %}
	  <li><span>{{ humanity.date | date_to_string }}</span> &raquo; <a href="{{ humanity.url }}" title="{{ humanity.title }}">{{ humanity.title }}</a></li>
	{% endfor %}

</ul>

<h2>2019</h2>
<ul class="posts">

	{% for humanity in site.categories.twentynineteen %}
	  <li><span>{{ humanity.date | date_to_string }}</span> &raquo; <a href="{{ humanity.url }}" title="{{ humanity.title }}">{{ humanity.title }}</a></li>
	{% endfor %}

</ul>
<h2>2018</h2>
<ul class="posts">

	{% for humanity in site.categories.twentyeighteen %}
	  <li><span>{{ humanity.date | date_to_string }}</span> &raquo; <a href="{{ humanity.url }}" title="{{ humanity.title }}">{{ humanity.title }}</a></li>
	{% endfor %}

</ul>

<h2>2016</h2>
<ul class="posts">

	{% for humanity in site.categories.twentysixteen %}
	  <li><span>{{ humanity.date | date_to_string }}</span> &raquo; <a href="{{ humanity.url }}" title="{{ humanity.title }}">{{ humanity.title }}</a></li>
	{% endfor %}
	  
  </ul>


  
