---
layout: default
title: Victory's Blog
---
<h1>{{ page.title }}</h1>
<p>My name is <a href = "https://en.wikipedia.org/wiki/User:Vtomole">Victory Omole</a>. I have a Bachelor of Science in Computer Engineering from Iowa State University.
				 My mission is to contribute to the world-wide effort of building a large-scale quantum computer. My work-in-progress writing is
				 contained in the <a href="/newsletters" title="newsletters">Weekly Newsletters</a>.</p>

<h2>Problems</h2>
<p><a href="/open_problems" title="open_problems">Open problems in Quantum Information Science</a></p>
<p><a href="/my_problems" title="my_problems">Problems i'm working on</a></p>

<h2>2020</h2>
<ul class="posts">

	{% for humanity in site.categories.twentytwenty %}
	  <li><span>{{ humanity.date | date_to_string }}</span> &raquo; <a href="{{ humanity.url }}" title="{{ humanity.title }}">{{ humanity.title }}</a></li>
	{% endfor %}

</ul>

<h2>2019</h2>
<ul class="posts">

	{% for humanity in site.categories.twentynineteen %}
	  <li><span>{{ humanity.date | date_to_string }}</span> &raquo; <a href="{{ humanity.url }}" title="{{ humanity.title }}">{{ humanity.title }}</a></li>
	{% endfor %}

</ul>
<h2>2018</h2>
<ul class="posts">

	{% for humanity in site.categories.twentyeighteen %}
	  <li><span>{{ humanity.date | date_to_string }}</span> &raquo; <a href="{{ humanity.url }}" title="{{ humanity.title }}">{{ humanity.title }}</a></li>
	{% endfor %}

</ul>

<h2>2016</h2>
<ul class="posts">

	{% for humanity in site.categories.twentysixteen %}
	  <li><span>{{ humanity.date | date_to_string }}</span> &raquo; <a href="{{ humanity.url }}" title="{{ humanity.title }}">{{ humanity.title }}</a></li>
	{% endfor %}
	  
  </ul>


  
