{% extends "base.html" %}
{% block title %}Into Convolution Neural Networks{% endblock %}
{% block head %} Into Convolution Neural Networks{% endblock %}
{% block content %}
{% csrf_token %}

 {% if user.username %}
 
    
<p>Convolution neural networks are mainly used for computer vision. These Convolution Neural Networks, or Convnets, makes it so you don’t have to use a lot of parameters to train your network. These networks can be thought of as volumes because images have a width, height and a number of channels which are RGB (red, blue, green) values. When you multiply the height width and the color channel, you get a volume.</p>
<p>Professor Winston makes the general idea of convnets easy to understand, He says that to be able to train a neural network on an image using a convnet, you run a neuron on a small part of the image. You then run this neuron on another small part of the image and you keep doing this until you have run the neuron on every pixel in the image. The output of this neuron is composed of a specific place in the image. This is the convolution of the image. The convolution of this image is composed of a couple of points. You take the local maximum of these values and construct another image with these values. You then slide over the neuron of the image that you just created and do the same process that you did for the original image and get other points/values. This process is called max pooling because you are taking the maximum of the local points in the image. Min pooling is doing the opposite, where you take the local minimum of the values in the image.</p>
<p>The tool that you use to scan a small part of an image is called a kernel. This kernel will detect the features in the network. The great part about this process is you can collect as many kernels as you want, you can collect 50 kernels, 100 kernels and more. You then put these kernels through your trained neural network and your neural network decides on whether the image is a dog, car, table, etc.</p>

<p>Reference:</p>
<p>Winston, Patrick H. "Lecture 12B: Deep Neural Nets." MIT OpenCourseWare. MIT OpenCourseWare, 2015. Web. 30 May 2016.</p>









{% else %}
 Welcome annonymous user! To read my blog posts, and get access to other cool AI related content, you will need to
             <a href ="/login/"> login</a>,
            or <a href ="/register/" >register</a> if you don't have an account yet.
{% endif %}
{% endblock %}