<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title}}</title>
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <nav>
    <u1>
      <li><a href="/">Home</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/blog">CV</a></li>
    </u1>
  </nav>

  <div class="container">

    {{ content }}

     </div><!-- /.container -->
  <footer>
    <u1>
      <li> <a href= "mailto:vtomole@iastate.edu">email</a></li>
      <li><a href="https://github.com/vtomole">github.com/vtomole</a></li>
    </u1>
  </footer>
<body>
  </html>
